# Godot 4+ specific ignores
.godot/
.vscode/

[Bb]uilds/*/*
[Bb]uilds/*.*


![Bb]uilds/*/config.ini
![Bb]uilds/*/description.txt
![Bb]uilds/*windows*/*.png
![Bb]uilds/*/settings.ini
![Bb]uilds/*/banned_words.txt